.jumbotron {
    padding: 5px 20px;
    height: 85px;
    background-image: linear-gradient(to right, #2f2f2f, #101010);
    color: white;
    margin: 0;

}

header {
    margin-bottom: 20px;
}

.jumbo-image {
    height: 75px !important;
    width: 125px !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/project-logo-re-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/project-logo-re-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

body {
    margin: 0;

}

h1 {
    font-family: Algerian;
    font-size: 2.8rem;
}

h2 {
    color: #cc5500;
    font-family: Algerian;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.title-bar {
    font-size: 1.5rem;
    font-family: Algerian;
}

nav {
    background-color: #cc5500;
    justify-content: center;
    width: 100%;
    color: white;
    height: 60px;

}


.navbar {
    background-color: #cc5500;
}

.navbar-nav {
  background-color: #cc5500;
}


.blockquote-footer {
    font-size: .875em;
    color: #6c757d;
    margin-top: 10px;
}

#reserveModal .modal-header {
    background-color: #cc5500;
    color: white;
}

.card-pad {
    margin-bottom: 50px;
}

.card-img-top {
    height: 215px;
}

.featured-title {
    background-color: #dedede;
    border-radius: 5%;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * .5);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-bottom: calc(var(--bs-gutter-x) * .5)
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.prime-btn {
    background-color: #cc5500;
    border-color: #cc5500;
    color: white;
    margin-bottom: 20px;
}

.site-footer {
    background-image: linear-gradient(#101010, #2f2f2f);
    padding: 20px 0;
    color: white;
    margin-top: 30px;
}